.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #728483;
}

.flashswarm-container, .confirmation-container {
  background: rgb(82, 107, 114);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  color: white;
}


.form-group {
  margin-bottom: 1rem;
}

h1 {
  color: white;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: white;
}

input,
button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  font-size: 1rem;
}

button {
  background-color: #98acc1b0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #90aac6;
}

h2 {
  margin-bottom: 1rem;
}
